body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
} 

.first-section {
    display: flex;
    background-color: #1F2937;
    padding: 20px 200px 150px;
    flex-direction: column;
}

.Header {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.Logo {
    font-size: 24px;
    color: #F9faf8;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 18px;
    font-size: 18px;
    color: #e5e7eb;
}

.Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-top: 100px;

}

.hero-main,
.image {
    height: 250px;
    width: 480px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    padding-right: 50px;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: normal;
}

button {
    background-color: #3882f6;
    font-size: 30px;
}

.image {
    background-color: grey;
}

.title {
    text-align: center;
    margin: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.text {
    text-align: center;
    width: 160px;
    font-size: 20px;
}

.second-section {
    display: flex;
    justify-content: space-between;
    padding-left: 280px;
    padding-right: 280px;
    padding-bottom: 100px;
}

.square {
    width: 160px;
    height: 160px;
    border-radius: 8px;
    border: 3px solid #3882f6;
}